#### <summary>pidgin_socat_client policy</summary>
#### <desc>
####	<p>
####	  Policy allowing user_pidgin to use pidgin_socat.
####	</p>
#### </desc>
