policy_module(pidgin_socat_client, 1)


optional_policy(`

	# Making this optional simply allows socket_wrapper and pidgin modules
	# to be removed, altered, and reinstalled.

	gen_require(`

		type pidgin_socat_t;
		type pidgin_socat_socket_var_run_t;
		type socket_wrapper_lib_t;
		type user_t;
		type user_pidgin_t;
	')

	########################################
	#
	# Declarations
	#

	type user_pidgin_socket_var_run_t;
	files_type(user_pidgin_socket_var_run_t)

	########################################
	#
	# user_pidgin_t policy
	#

	socket_wrapper_preload_socket_wrapper_lib_files(user_pidgin_t, user_t)

	pidgin_socat_rw_pidgin_socat_socket_var_run_sock_files(user_pidgin_t)
	pidgin_socat_filetrans_pidgin_socat_socket_var_run_sock_files(user_pidgin_t, user_pidgin_socket_var_run_t)
	allow user_pidgin_t user_pidgin_socket_var_run_t : sock_file { read write };
	create_sock_files_pattern(user_pidgin_t, pidgin_socat_socket_var_run_t, user_pidgin_socket_var_run_t)
	delete_sock_files_pattern(user_pidgin_t, pidgin_socat_socket_var_run_t, user_pidgin_socket_var_run_t)
')
