policy_module(portage_git_socat, 1)


########################################
#
# Declarations
#

socat_qrexec_domain_faux_tcp_template(portage_git)
