policy_module(portage_fetch_socat, 1)


########################################
#
# Declarations
#

socat_qrexec_domain_faux_tcp_template(portage_fetch)
